/*
dark blue #001E5C
light blue #4B85FF
*/

html {
    background-color: #001E5C;
}


/************* HOME **********************/
.game-feed {
    color: white;
}

/*************** NAVBAR ******************/
.app {
    background-color: #001E5C;
}

/************* LOGIN/SIGNUP *************/
.login {
    display: flex;
    color: white;
    width: 1000px;
    height: calc(100% - 20px);
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    padding: 25px;
    border-radius: 15px;
}

.left {
    width: 400px;
    padding: 55px;
    flex-direction: column;
    display: flex;
    border-radius: 10px;
}

.right {
    width: 400px;
    padding: 55px;
    flex-direction: column;
    display: flex;
    border-radius: 10px;
}

/* Login Forms  */
.login-group {
    position: relative;
    display: flex;
    width: 100%;
    padding: 8px;
}

.login-field {
    display: block;
    width: 100%;
    padding: 4px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

.login-btn {
    display: block;
    width: 100%;
    padding: 4px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
}

/* Signup Forms  */
.signup-group {
    position: relative;
    display: flex;
    width: 100%;
    padding: 8px;
}

.signup-field {
    display: block;
    width: 100%;
    padding: 4px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

.signup-btn {
    display: block;
    width: 100%;
    padding: 4px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
}